.code {
    pre {
        margin-top: 20px;
        padding: 20px;
        width: 100%;
        background-color: #ebebeb;
        color: $main-color;
        font-size: 18px;
        font-weight: 300;
    }

}